@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../resources/fonts/roboto-v30-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../resources/fonts/inconsolata-v32-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  src: url('../resources/fonts/inconsolata-v32-latin-900.woff2') format('woff2'); 
}
